.page-title {
    margin-bottom: 0;
}

.products-container {
    display: grid;
    grid-gap: 30px 10px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 20px 15px;
}

.product {
    width: 85%;
    max-width: 285px;
    border-radius: 3px;
    box-shadow: 0.1px 0.1px 5px rgba(0, 0, 0, 0.3);
}

.product img {
    height: 200px;
}

.product div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px 10px;
}

div.load-btn-container {
    margin-top: 0;
    padding: 0;
}

.load-btn {
    background-color: transparent;
    border: 1px solid var(--navbar-green);
    color: var(--navbar-green);
    padding: 10px;
}

.products-container-admin .load-btn {
    padding: 8px 15px;
    width: 70px;
    text-align: center;
}

.products-container-admin a.load-btn {
    background-color: transparent;
    color: var(--navbar-green);
    border: 1px solid var(--navbar-green);
    padding-top: 6px;
    padding-bottom: 6px;
}

.products-container-admin a.load-btn:hover {
    background-color: var(--hover-green);
    color: #fff;
}

.product .btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0;
    width: 100%;
    box-sizing: border-box;
}

.btns-container #delete-product-btn {
    color: var(--delete-red);
    border-color: var(--delete-red);
}

.btns-container #delete-product-btn:hover {
    background-color: var(--delete-hover-red);
    color: #fff;
}

.product div p:nth-child(3) {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.product-name {
    font-size: 2rem;
    margin: 0 0 8px 0;
    color: var(--navbar-green);
    cursor: pointer;
    text-decoration: none;
}

.product-name:hover {
    text-decoration: underline;
}

.product-price {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.product img {
    width: 100%;
}