form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    width: 55%;
    margin: 0 auto 50px;
    box-shadow: 0.1px 0.1px 10px -2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

form label {
    font-size: 1.5rem;
    margin: 0 0 7px 0;
}

form input,
form textarea {
    margin: 0;
    padding: 8px 15px;
    outline: none;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 5px;
    width: 80%;
    font-size: 1.5rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

form #product-image-field:hover {
    cursor: pointer;
}

form #product-price-field {
    margin-bottom: 20px;
}

form input:focus,
form textarea:focus {
    border-color: #000;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    width: 30%;
    margin-top: 15px;
}

.loading-img {
    width: 25px;
    margin: 15px 0 0 0;
    display: none;
}

.show-loading-img {
    display: block;
}
form input.invalid,
form textarea.invalid {
    border-color: red;
}

.already-registered-label,
.not-registered-label {
    margin-top: 15px;
}

.forgot-password-link {
    margin-top: 10px;
    text-decoration: none;
    color: var(--navbar-green);
}

.forgot-password-link:hover {
    text-decoration: underline;
}

@media (max-width: 850px) {
    form {
        width: 65%;
    }
}

@media (max-width: 750px) {
    form {
        width: 75%;
    }
}

@media (max-width: 550px) {
    form {
        width: 90%;
    }
}

@media (max-width: 400px) {
    form input,
    form textarea {
        padding: 8px;
        width: 90%;
        font-size: 1.3rem;
    }
}