form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
    width: 60%;
    max-width: 800px;
    margin: 0 auto 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-sizing: border-box;
}

.horizontal-form-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px 0 19px 0;
}

.horizontal-form-container div,
#product-price-field {
    width: 48%;
}

#product-price-field {
    position: relative;
    top: 1px;
}

form input,
form textarea {
    background-color: #f0efef;
    padding: 15px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999;
    width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    letter-spacing: 1.5px;
}

input:not(:first-of-type) {
    margin-top: 10px;
}

form #product-image-field:hover {
    cursor: pointer;
}

form input:focus,
form textarea:focus {
    border-color: #000;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    width: 30%;
    margin-top: 15px;
}

.loading-img {
    width: 25px;
    margin: 15px 0 0 0;
    display: none;
}

.show-loading-img {
    display: block;
}

form input.invalid,
form textarea.invalid {
    border-color: red;
}

.already-registered-label,
.not-registered-label {
    margin-top: 15px;
    font-size: 1.3rem;
}

.forgot-password-link {
    margin-top: 10px;
    text-decoration: none;
    color: var(--navbar-green);
    font-size: 1.3rem;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

@media (max-width: 850px) {
    form {
        width: 65%;
    }
}

@media (max-width: 750px) {
    form {
        width: 75%;
    }
}

@media (max-width: 550px) {
    form {
        width: 95%;
    }
}

@media (max-width: 400px) {
    form input,
    form textarea {
        padding: 15px 10px;
        font-size: 1.3rem;
    }

    .horizontal-form-container {
        flex-direction: column;
    }

    .horizontal-form-container div,
    #product-price-field {
        width: 100%;
    }

    .horizontal-form-container div {
        margin-bottom: 10px;
    }

    form button {
        width: 100%;
    }
}