<%- include('../partials/head.ejs') %>

    <%- include('../partials/navbar.ejs') %>
    <h1 class="server-error-label">
        Some internal server error occured, we are working on fixing it as soon as possible
    </h1>

<%- include('../partials/foot.ejs') %>