<%- include('../partials/head.ejs') %>

    <%- include('../partials/navbar.ejs') %>

    <h1 class="page-title">Forgot Password</h1>

    <span class="info-msg success-msg-block" id="success-msg-block">
      An email to reset password has been sent to your email
    </span>

    <form
      action=""
      method="POST"
      id="forgot-password-form"
      class="forgot-password-form">

      <label for="user-email-field">Enter your email</label>
      <input
        type="email"
        id="user-email-field"
        name="user-email-field"
        value=""
        required/>
      <span class="error-msg EmailError"></span>

      <button type="submit" class="btn" id="form-submit-btn">Submit</button>

      <img src="/imgs/loading.gif" alt="loading image" class="loading-img" id="loading-img"/>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>

    <script src="/js/auth/forgot-password.js" type="module"></script>

<%- include('../partials/foot.ejs') %>