<%- include('../partials/head.ejs') %>

    <%- include('../partials/navbar.ejs') %>

    <h1 class="page-title">Register Yourself</h1>

    <span class="info-msg success-msg-block" id="success-msg-block">Registration successfull</span>

    <form
      action=""
      method="POST"
      id="signup-form"
      class="signup-form">

      <input
        type="text"
        id="user-name-field"
        name="user-name-field"
        value=""
        placeholder="Full Name"
        required
      />
      <span class="error-msg NameError"></span>

      <input
        type="email"
        id="user-email-field"
        name="user-email-field"
        placeholder="Email"
        value=""
        required
      />
      <span class="error-msg EmailError"></span>

      <input
        type="password"
        id="user-password-field"
        name="user-password-field"
        placeholder="Password"
        value=""
        required
      />
      <span class="error-msg PasswordError PasswordMismatchError"></span>

      <input
        type="password"
        id="user-cnf-password-field"
        name="user-cnf-password-field"
        placeholder="Confirm Password"
        value=""
        required
      />

      <button type="submit" class="btn" id="form-submit-btn">Sign Up</button>

      <img src="/imgs/loading.gif" alt="loading image" class="loading-img" id="loading-img"/>

      <p class="already-registered-label">
        Already registered?
        <a href="/login">Login</a>
      </p>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>

    <script src="/js/auth/signup.js" type="module"></script>

<%- include('../partials/foot.ejs') %>